# API
API_PORT=3000
NODE_ENV=development

# DB (Postgres/PostGIS)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=geofiber
DB_USER=geofiber
DB_PASSWORD=geofiber123

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT
JWT_SECRET=CHANGE_ME_SUPER_SECRET
JWT_EXPIRES_IN=1d
